[submodule "lib/mlib"]
	path = lib/mlib
	url = https://github.com/P-p-H-d/mlib.git
[submodule "lib/STM32CubeWB"]
	path = lib/STM32CubeWB
	url = https://github.com/Flipper-Zero/STM32CubeWB.git
[submodule "lib/littlefs"]
	path = lib/littlefs
	url = https://github.com/littlefs-project/littlefs.git
[submodule "lib/nanopb"]
	path = lib/nanopb
	url = https://github.com/nanopb/nanopb.git
[submodule "assets/protobuf"]
	path = assets/protobuf
	url = https://github.com/flipperdevices/flipperzero-protobuf.git
[submodule "lib/libusb_stm32"]
	path = lib/libusb_stm32
	url = https://github.com/flipperdevices/libusb_stm32.git
[submodule "lib/FreeRTOS-Kernel"]
	path = lib/FreeRTOS-Kernel
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel.git
[submodule "lib/microtar"]
	path = lib/microtar
	url = https://github.com/amachronic/microtar.git
[submodule "lib/mbedtls"]
	path = lib/mbedtls
	url = https://github.com/Mbed-TLS/mbedtls.git
[submodule "lib/cxxheaderparser"]
	path = lib/cxxheaderparser
	url = https://github.com/robotpy/cxxheaderparser.git
[submodule "applications/external/dap_link/lib/free-dap"]
	path = applications/external/dap_link/lib/free-dap
	url = https://github.com/ataradov/free-dap.git
[submodule "lib/heatshrink"]
	path = lib/heatshrink
	url = https://github.com/flipperdevices/heatshrink.git
[submodule "applications/external/dice-dnd"]
	path = applications/external/dice-dnd
	url = https://github.com/Ka3u6y6a/flipper-zero-dice/
[submodule "applications/external/hex_editor"]
	path = applications/external/hex_editor
	url = https://github.com/dunaevai135/flipper-zero-hex_editor/tree/efb3032c5573b7f657d3f81232dfb491262d0eab
[submodule "applications/external/schip"]
	path = applications/external/schip
	url = https://github.com/Milk-Cool/fz-schip/tree/4589f6c8a829ce6c202129adec2730f5952e677b
