*~
*.swp
*.swo
*.gdb_history


# LSP
.cache
compile_commands.json

# JetBrains IDEs
.idea/

# Python VirtEnvironments
.env
.venv
env/
venv/

# Python Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class
*.pickle

.obj/
bindings/
.DS_Store
.mxproject
Brewfile.lock.json

# Visual Studio Code
.vscode/

# Visual Studio
.vs/

# Kate
.kateproject
.kateconfig

# legendary cmake's
build
CMakeLists.txt

# bundle output
dist

# kde
.directory
null.d

# SCons
.sconsign.dblite
# SCons build dir
build/

# Toolchain
/toolchain

# openocd output file
openocd.log

# PVS Studio temporary files
.PVS-Studio/
PVS-Studio.log
*.PVS-Studio.*

.gdbinit


# XFW-specific:

# Automate files, etc
automate.py
deployments/
commitnotes.md
fbt_options.py

# Asset packs
assets/dolphin/custom/*
!assets/dolphin/custom/NSFW/
!assets/dolphin/custom/WatchDogs/
!assets/dolphin/custom/ReadMe.md
assets/resources/dolphin_custom/*
!assets/resources/dolphin_custom/NSFW/
!assets/resources/dolphin_custom/WatchDogs/
